/* font-family: 'Patua One', cursive;
font-family: 'Roboto', sans-serif; */

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: whitesmoke;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background-position: center;
}

.jumbotron {
  font-family: 'Patua One', cursive;
  background-color: paleturquoise;
}

.form-group {
  text-align: left;
}

.btn {
  font-size: 18px;
}

/* index page */
#exampleInputEmail1 {
  width: 325px;
}

.form-group{
  font-size: 18px;
  font-weight: 600;
}

.title{
  font-weight: 800;
}

/* index and user page */
#iconBtn {
  margin: auto;
  border: solid 1px black;
}

.box {
  background-color: transparent;
  border: none;
}

.list-group-item {
  line-height: 2.5;
}